*, *::after, *::before {
  box-sizing: border-box;
}
html::-webkit-scrollbar {
    display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust:100%;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  overflow:auto;
  background: rgb(211, 209, 222);
  /* background: linear-gradient(180deg, rgba(0,4,25,1) 0%, rgba(2,18,50,1) 100%); */
}

#content {
  font-size: 1.25em;
  line-height: 1.3;
  min-height: calc(100vh);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
}

#element {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  position: relative;
}

.parent-list {
  background-color: rgb(243, 240, 255);
  color: rgb(93, 92, 97);
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 60px;
  opacity: 0.9;
  }
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
   background-color: rgb(243, 240, 255);
  margin-top: 50px;
  box-shadow: 5px 0px 3px -3px #A2A1AB, 5px 5px 3px -3px #A2A1AB;
  }
.main-developer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
   background-color: rgb(243, 240, 255);
  margin-top: 50px;
  box-shadow: 5px 0px 3px -3px #A2A1AB, 5px 5px 3px -3px #A2A1AB;
  }
  .form {
    background-color: rgb(243, 240, 255);
    box-shadow: 5px 0px 3px -3px #A2A1AB, 5px 5px 3px -3px #A2A1AB; 
    padding-top: 1px;
    }

.div1 { grid-area: 1 / 1 / 4 / 2;  margin-top: 30px;
  margin-right: 10px;
  margin-left: 30px;}
.div2 { grid-area: 4 / 1 / 5 / 2;  color: rgb(93, 92, 97);
  margin-right: 10px;
  margin-top:  0px;
  margin-left: 30px;}

.div3 { grid-area:  1 / 2 / 2 / 4; color: rgb(162, 161, 171);
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 30px;}
.div4 { grid-area: 2 / 2 / 3 / 4; color: rgb(162, 161, 171);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 30px;}
.div5 { grid-area:3 / 2 / 4 / 4; color: rgb(162, 161, 171);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 30px;}

.div6 { grid-area:4 / 2 / 5 / 4; color: rgb(93, 92, 97);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 30px;}


.element-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(243, 240, 255);
  margin-top: 50px;
  box-shadow: 5px 0px 3px -3px #A2A1AB, 5px 5px 3px -3px #A2A1AB;
  }
  
.div9 { grid-area: 1 / 1 / 4 / 4; margin-top: 30px;
  margin-right: 150px;
  margin-left: 80px}
.div10 { grid-area: 1 / 4 / 2 / 11; color: rgb(162, 161, 171);margin-top: 30px;
  margin-right: 150px;
  margin-left: 80px;}
.div11 { grid-area: 2 / 4 / 3 / 11; color: rgb(162, 161, 171);margin-top: 30px;
  margin-right: 150px;
  margin-left: 80px;}
.div12 { grid-area: 3 / 4 / 4 / 11; color: rgb(93, 92, 97);margin-top: 30px;
  margin-right: 150px;
  margin-left: 80px;}
input[type="text"],
input[type="text"]:focus   
{
  background: transparent;
  border: none;
  outline-width: 0;
    padding: 0.25em;
    box-shadow: 4px 4px 3px -3px #A2A1AB, 4px 4px 3px -3px #A2A1AB;
}
input[type=password],
input[type=password]:focus   
{
  background: transparent;
  border: none;
  outline-width: 0;
    padding: 0.25em;
    box-shadow: 4px 4px 3px -3px #A2A1AB, 4px 4px 3px -3px #A2A1AB;
}

textarea,
textarea:focus   
{
  background: transparent;
  border: none;
    padding: 0.25em;
    outline-width: 0;
  box-shadow: 4px 4px 3px -3px #A2A1AB, 4px 4px 3px -3px #A2A1AB;
}






