.singleGame {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(243, 240, 255);
    margin-top: 50px;
    box-shadow: 5px 0px 3px -3px #A2A1AB, 5px 5px 3px -3px #A2A1AB;
}

.singleGame .image { grid-area: 2 / 2 / 11 / 6; color: rgb(105, 105, 105);}
.singleGame .title { grid-area: 2 / 8 / 4 / 12; color: rgb(132, 197, 251);}
.singleGame .ratings { grid-area: 4 / 8 / 6 / 12; color: rgb(105, 105, 105);}
.singleGame .genres { grid-area: 6 / 8 / 8 / 12; color: rgb(105, 105, 105);}
.singleGame .description { grid-area: 8 / 8 / 11 / 12; color: rgb(105, 105, 105);}
.singleGame .developer { grid-area: 11 / 8 / 12 / 12; color: rgb(105, 105, 105);}

.reviewHeader {color: rgb(105, 105, 105);}
.review {

    background-color: rgb(243, 240, 255);
    padding: 20px;
    color: rgb(105, 105, 105);
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 5px 0px 3px -3px #A2A1AB, 5px 5px 3px -3px #A2A1AB;
}
