.navbar_inner ul{
    padding-top: 3rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: rgb(93, 92, 97);
}
.navbar_inner li{
    display:inline-block;
    width:auto;
    font-size: 1.3em;
    text-align:center!important;
    margin-inline: 0.5em;
    padding-inline: .5rem;
    border-radius: 3rem;
    color: rgb(93, 92, 97);
}
.navbar_inner li > a {
    color: rgb(93, 92, 97);
}
.navbar_inner li:hover, .loginButton:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(93, 92, 97);
}

.login, .login.active{
    font-size: 1.3em;
    text-align: center!important;
    color:rgb(93, 92, 97);
}
.loginButton{
    margin-inline: 0.5em;
    padding-inline: .5rem;
    border-radius: 3rem;
    float:right!important;
    border-radius: 3rem;
}
