.navbar_inner ul{
    padding-top: 3rem;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.navbar_inner li{
    font-size: 1.3em;
    text-align: center;
    margin-inline: 0.5em;
    padding-inline: .5rem;
    border-radius: 3rem;
}
.navbar_inner li:hover{
    cursor: pointer;
    background-color: black;
}
.navbar_inner li > a:focus {
    color:red;
}
.navbar_inner li > .active{
    color:red;
}
.login{
    align-items: flex-end;
    font-size: 2.3em;
    border-radius: 3rem;
    text-align: right;
}
