.logo {
    position: absolute;
    left: 0;
    margin: 1em;
    margin-right: 2em;
    width: 60px;
}
#searchIcon{
    margin-right: 10px;
}

.search {
    width: 25%;
    margin: 0.5em;
    padding-top:5px!important;padding-bottom:5px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left!important;
    border-radius: 3rem;
    background: rgb(243, 240, 255);
}

.search input {
    padding:8px;
    display:block;
    border:none;
    width:100%;
    flex: 1;
    font-size: 1.3em;
    margin-left: 12px;

    outline: none;
    color: rgb(93, 92, 97);
    background: rgb(243, 240, 255);
}

::placeholder {
    color: #a1a1a1;
}