.game {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(243, 240, 255);
    }

.game .image { grid-area: 2 / 2 / 9 / 6; }
.game .title, .game .title:hover { grid-area: 2 / 7 / 3 / 12; color: rgb(162, 161, 171);}
.game .averageRating { grid-area: 4 / 7 / 5 / 12; color: rgb(93, 92, 97); }
.game .userRating { grid-area: 5 / 7 / 6 / 12; color: rgb(93, 92, 97);}
.game .genres { grid-area: 7 / 7 / 9 / 12; color: rgb(93, 92, 97);}

.collapsible {
    margin-top: 100px;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: block;
}
#filters {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}